﻿#top {
	display: none;
}
#bottom {
	bottom: 0;
	position: fixed;
	width: 100%;
}
#graphToolbar {
	position: absolute;
	overflow: hidden;
	top: 0;
	height: 30px;
	width: 100%;
}
#graphView {
	position: absolute;
	overflow: auto;
	top: 30px;
	bottom: 24px;
	width: 100%;
	background-size: 20px 20px;
	background-image: linear-gradient(to right, #e4e4e4 1px, transparent 1px),
		linear-gradient(to bottom, #e4e4e4 1px, transparent 2px);
	background-image: -ms-linear-gradient(right, #e4e4e4 1px, transparent 1px),
		-ms-linear-gradient(bottom, #e4e4e4 1px, transparent 2px);
}
#connectors {
	fill: none;
	stroke-width: 1px;
	stroke: #555555;
}
.incomingCollapseButton {
	cursor: pointer;
}
.outgoingCollapseButton {
	cursor: pointer;
}
.innerExpandButtonCircle {
	fill: #555555;
}
.outerExpandButtonCircle {
	fill: #FFFFFF;
	stroke: #555555;
}
.emptyButton {
	display: none;
}
.nothingExpanded circle+circle {
	display: none;
}
.allExpanded>circle {
	fill: #555555;
}