body.mobile {
    font-size: 300%;
}

    body.mobile .ui-timeout-window {
        font-size: 70%;
    }

    /* model browser */
    body.mobile .propertyWindow td {
        font-size: 75%;
    }

    body.mobile .ui-modelbrowser-window {
        width: 99% !important;
    }

    body.mobile .ui-modeltree-label {
        font-size: 66%;
        padding-top: .8em;
        font-weight: bold;
        height: 1.5em;
    }

    body.mobile .propertyWindow {
        border-top: .6em solid gray;
    }

        body.mobile .propertyWindow .ui-resizable-handle.ui-resizable-n {
            height: 100% !important;
            background: none !important;
        }

    /* toolbar */
    body.mobile #toolBar {
        transform: scale(1.74);
    }

    body.mobile .toolbar-tools {
        opacity: 1 !important;
    }

    body.mobile #explosion-slider {
        font-size: 16px;
    }

    /* viewer settings */
    body.mobile #viewer-settings-dialog {
        transform: scale(1.8);
    }
