<div class="filterDialogContentContainer" data-dojo-attach-point="_filterDialogContentContainer" data-filter-sort-mode="label" data-filter-sort-order="asc">
	<div class="filterDialogSearchContainer">
		<span title="{2}" class="aras-button" data-dojo-attach-point="_filterDialog2SelectAllButton"
				data-dojo-attach-event="onclick: _onSelectAllCheckboxClickEventHandler" id="filterDialog2SelectAllCheckbox">
			<div class="aras-button__icon"></div>
		</span>
		<div class="filterDialog2SearchTextBoxContainer">
			<input data-dojo-attach-point="_filterDialog2SearchTextBox" data-dojo-attach-event="oninput: _onSearchTextBoxChangedEventHandler"
				   type="text" class="filterDialog2SearchTextBox aras-input" title="Search" data-action="ignored">
		</div>
		<span title="{3}" class="aras-button active" data-filter-control-sort-mode="label" data-filter-control-sort-order="asc"
				data-dojo-attach-point="_alphabeticalSortButton" data-dojo-attach-event="onclick: _onSortButtonsClickEventHandler">
			<div class="aras-button__icon"></div>
		</span>
		<span title="{4}" class="aras-button {1}" data-filter-control-sort-mode="count" data-filter-control-sort-order="desc"
				data-dojo-attach-point="_frequencySortButton" data-dojo-attach-event="onclick: _onSortButtonsClickEventHandler">
			<div class="aras-button__icon"></div>
		</span>
	</div>
	<div data-dojo-attach-point="_filterDialogOptionsContainer" class="filterDialogOptionsContainer">{0}</div>
</div>