﻿@{
	Layout = "_cuiLayout.cshtml";

	string state = Request.QueryString["state"];
	string formHeight = String.IsNullOrEmpty(Request.QueryString["formHeight"]) ? "0px" : Request.QueryString["formHeight"] + "px";
}
@RenderBody()
@section header
{
	@if (IsSectionDefined("header"))
	{
		@RenderSection("header")
	}
	else
	{
		<style type="text/css">
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.core.Controls/Styles/Controls/Sidebar.css")";
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.core.Controls/Styles/Controls/Tab.css")";
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.core.Controls/Styles/Controls/SimpleTabContainer.css")";
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.SSVC/Styles/SidebarButtons.css")";
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.SSVC/Styles/SidebarKeyedName.css")";
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.SSVC/Styles/SidebarPopupMenu.css")";
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.SSVC/Styles/SidebarPopupMenuItem.css")";
			@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Styles/StateButtons.css")";
			@@import "@Url.ContentWithSalt("~/styles/fontsRobotoLt.css")";
			@@import "@Url.ContentWithSalt("~/styles/fontsNotoJp.css")";
		</style>
		if (state == "tabs off")
		{
			<script type="text/javascript">
				var hideTabs = true;
				var startupSequence = [];
			</script>
		}
		else
		{
			<script type="text/javascript">
				var hideTabs = false;
			</script>
		}
		<script type="text/javascript" id="ScriptSet1" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=tearoffWindow")"></script>
		<script type="text/javascript">
			windowStateObject.state = "@state";
		</script>
		if (IsSectionDefined("extra_header"))
		{
			@RenderSection("extra_header")
		}
	}
}

@section center
{
	@if (IsSectionDefined("center"))
	{
		@RenderSection("center")
	}
	else
	{
		<div id="CenterBorderContainer" class="aras-item-view__content">
			@if (IsSectionDefined("instance"))
			{
				@RenderSection("instance")
			}
			else
			{
				<div id="formContentPane" @(state == "tabs off" ? Html.Raw("style=\"height:100%;\"") : Html.Raw(""))>
					<div id="formLayoutContainer" class="aras-item-view__form-layout">
						<div id="placeHolderContentPane" class="aras-item-view__placeholder-pane">
							<div data-dojo-type="Controls/SimpleTabContainer" id="viewers" class="aras-item-view__viewers">
								<div class="aras-item-view__form-tab" data-dojo-type="Controls/Tab" data-dojo-props="selected:true" id="formTab">
								</div>
							</div>
						</div>
					</div>
				</div>
			}

			@if (IsSectionDefined("relationships"))
			{
				@RenderSection("relationships")
			}
		</div>
	}

	@if (IsSectionDefined("after_center"))
	{
		@RenderSection("after_center")
	}
}
