﻿body.claro {
	background-color: inherit;
}

html, body
{
	margin: 0;
	overflow: hidden;
	height: 100%;
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
}

.OverflowContainer
{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 2;
}

.SnapshotContainer
{
	background-color: black;
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 999;
}

.SnapshotImage
{
	position: relative;
	display: block;
}

.ViewerContainer
{
	display:block;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.HoopsOverflowContainer .ViewerContainer {
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}

.HoopsOverflowContainer
{
	position: absolute;
	width: 100%;
	height: 100%;
}
.Wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x:hidden;
  overflow-y:hidden;
  margin: 0;
}
#viewerContainer {
  width:100%;
  height: 100%;
  position: fixed;
}

#modelBrowserWindow.ui-modelbrowser-small{
  display: none !important;
}

.dijitPopup.dijitTooltipDialogPopup .dijitTooltipDialog.dijitTooltipBelow {
	outline: none;
}

[type=reset],
[type=submit],
button,
html [type=button]
{
	-webkit-appearance:none !important;
}
