﻿@{
	Layout = "../../aras.innovator.core.ItemWindow/Views/Shared/_tabItemViewLayout.cshtml";
}
@section extra_header
{
	<script>
		require(['MacPolicy/Scripts/Configurator/main']);
	</script>
	<link rel="stylesheet" type="text/css" href="@Url.ContentWithSalt("~/javascript/dojox/grid/resources/claroGrid.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.ContentWithSalt("~/Modules/aras.innovator.MacPolicy/Styles/ConditionEditorStyle.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.ContentWithSalt("~/javascript/include.aspx?classes=common.css")" />
}
@section after_center
{
<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="liveSplitters:false, gutters:false" id="MacPolicyEditorContainer" style="height: 100% ">
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter:true, style:'height:50%; padding:0px;'">
			<div id="gridToolbar"></div>
			<div id="conditionsPane" style="height:calc(100% - 30px)">
				<div id="conditionsGrid" style="height:100%"></div>
			</div>
		</div>
		<div id="forms" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true, style:'height:50%; padding:0px;'">
			<div id="formToolbar"></div>
			<iframe id="conditionFormFrame" src="blank.html" style="width: 100%; height: calc(100%  - 30px); display: block; min-width: 900px;" frameborder="0"></iframe>
		</div>
	</div>
</div>
}