﻿html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: Tahoma;
	color: #444444;
	font-size: 12px;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#borderContainer {
	position: absolute;
	top: 20px;
	bottom: 0px;
	width: 100%;
}

.viewHeader {
	height: 20px;
	padding: 0px 0px 0px 10px;
	background-color: #606060;
	line-height: 22px;
	white-space: nowrap;
	color: #e0e0e0;
	text-overflow: ellipsis;
	overflow: hidden;
}

.viewHeader.active {
	background-color: #444444;
	color: #ffffff;
}

.viewHeader .statusMark {
	display: none;
	color: #444444;
}

.viewLoaded .viewHeader .statusMark {
	display: inline-block;
}

.viewHeader.active .statusMark {
	color: #e78e46;
}

.viewHeader .documentInfo {
	margin-left: 5px;
}

.editInfo {
	color: #f8eec0;
}

.separatorSpan {
	color: #ffffff;
}

.filterInfo {
	color: #f5bc8e;
}

#toolbarContainer {
	height: 30px;
}

.dijitBorderContainer-dijitContentPane {
	padding: 0px !important;
}

.dijitEditorIFrameContainer {
	padding: 0px !important;
}

.dijitTreeContainer {
	position: relative;
	width: 100% !important;
}

.dijitTreeRow {
	overflow: hidden;
	text-overflow: ellipsis;
	width: inherit !important;
}

.techDocEditor .dijitEditor {
	border: none;
	border-left: 1px solid #b5bcc7;
}

.dijitToolbar.ArasToolbar {
	white-space: normal !important;
}

.SearchComponent {
	float: right;
	margin: 4px 5px 0px 0px;
}

.xmlContentFrame {
	width: 100%;
	height: 100%;
}

.inactiveDisplayContainer {
	display: none;
}

.treeToggleButton {
	z-index: 10;
	cursor: pointer;
	display: none;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 16px;
	height: 16px;
	border: 1px solid #c0c0c0;
	background-color: #ffffff;
	background-image: url('../../../images/arrow-l.svg');
	background-size: 6px 8px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
}

.viewLoaded .treeToggleButton {
	display: block;
}

#treeContainer.collapsed {
	cursor: pointer;
	width: 10px !important;
	background-color: #f5f5f5;
}

#treeContainer.collapsed:hover {
	background-color: #dde7f5;
}

#treeContainer.collapsed .treeToggleButton {
	right: 6px;
	top: 6px;
	background-image: url('../../../images/arrow-r.svg');
	background-position: 6px 4px;
}

#treeContainer.collapsed #techDocTree {
	visibility: hidden;
}

.treeToggleButton:hover {
	background-color: #f0f0f0;
}
