﻿/* Workaround: fixed problem with svg images loading in IE11("plus" and "minus" icons sometimes do not appears) */
.dojoxGrid::before {
	content: '';
	display: none;
	background-image: url('../../../images/plus.svg');
}

.dojoxGrid::after {
	content: '';
	display: none;
	background-image: url('../../../images/minus.svg');
}
/* end of Workaround */

.arasTDFTree.dojoxGrid {
	border: none !important;
	overflow: visible;
}

.arasTDFTree.dojoxGrid .dojoxGridMasterHeader {
	height: 30px !important;
	background: none;
	line-height: 20px;
	margin-bottom: 3px;
	border-bottom: 1px solid #c0c0c0;
}

.arasTDFTree.dojoxGrid .dojoxGridMasterHeader .dojoxGridCell {
	padding-left: 26px;
	border-style: none;
	background-image: url('../../../images/TechDocItemType.svg');
	background-size: 24px 24px;
	background-position: 1px 1px;
	background-repeat: no-repeat;
	font-weight: normal;
}

.arasTDFTree.dojoxGrid .dojoxGridHeader > div {
	width: 100% !important;
}

.arasTDFTree.dojoxGrid .dojoxGridHeader .dojoxGridRowTable {
	position: relative;
	width: calc(100% - 20px) !important;
}

.arasTDFTree.dojoxGrid .dojoxGridHeader .dojoxGridCell.dojoxGridCellOver {
	background-color: transparent;
}

.arasTDFTree.dojoxGrid
	.dojoxGridMasterHeader
	.dojoxGridCell.dojoxGridCellFocus {
	border: none !important;
	border-top: 1px solid transparent !important;
}

.arasTDFTree.dojoxGrid
	.dojoxGridExpando.dojoxGridExpandoOpened
	.dojoxGridExpandoNode {
	background-image: url('../../../images/minus.svg');
}

.arasTDFTree.dojoxGrid .dojoxGridExpando .dojoxGridExpandoNode {
	background-image: url('../../../images/plus.svg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.arasTDFTree.dojoxGrid .dojoxGridContent > div {
	padding-left: 5px;
}

.arasTDFTree.dojoxGrid .dojoxGridExpando {
	position: relative;
	display: inline-block;
	height: 22px;
	float: none;
	vertical-align: middle;
	width: 35px !important;
	margin-right: 10px;
	text-align: left;
}

.arasTDFTree.dojoxGrid .dojoxGridRow .dojoxGridNoChildren .dojoxGridExpando {
	width: 35px !important;
}

.dojoxGridRow.ArasBlockXmlSchemaElementGroup {
	background-image: url('../../../images/BlockInternal.svg') !important;
}

.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRow,
.arasTDFTree .dojoxGridContent .dojoxGridRow .dojoxGridCell {
	border: 0px !important;
	line-height: 22px;
}

.arasTDFTree.dojoxGrid .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #ffffff;
}

.arasTDFTree.dojoxGrid .dojoxGridRow {
	height: 24px;
	position: relative;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: 20px 0px;
	transition: background-color 0.25s ease;
}

.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRow .dojoxGridRowTable {
	height: 24px;
	width: calc(100% - 10px) !important;
}

.arasTDFTree.dojoxGrid .dojoxGridRow .dojoxGridExpandoNode {
	display: inline-block;
	float: none;
	width: 13px;
	height: 13px;
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
}

.arasTDFTree.dojoxGrid
	.dojoxGridRow
	.dojoxGridNoChildren
	.dojoxGridExpandoNode {
	display: none;
}

.arasTDFTree.dojoxGrid .dojoxGridRow .dijitTreeExpando.dijitTreeExpandoLeaf {
	background-image: none;
}

.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRowSelected {
	background-color: #dde7f5;
	border-width: 0px;
	background-image: none;
}

.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRowOver {
	background-color: #dde7f5 !important;
}

.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRowSelected {
	background-color: #ceddf2 !important;
}

.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRowTable tr {
	background-color: transparent;
	background-image: none;
}

.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRowSelected .dojoxGridCell,
.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridRowOver .dojoxGridCell {
	background-color: transparent !important;
	background-image: none;
}

.arasTDFTree.dojoxGrid .dojoxGridRow .dojoxGridCell div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.arasTDFTree.dojoxGrid .dojoxGridRow .dojoxGridCell,
.arasTDFTree.dojoxGrid .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus {
	padding: 0px 5px 0px 10px !important;
}

.ArasXmlSchemaElementUpdatable .ArasXmlSchemaElementTypeNode {
	color: #b83b1d;
}

.dojoxGridRow.ArasXmlSchemaElementBlocked {
	color: #b83a1d;
	font-style: italic;
}

.ArasXmlSchemaDynamicElement .dojoxGridExpando:after {
	content: 'ϟ';
	position: absolute;
	left: 18px;
	top: 1px;
	width: 8px;
	height: 8px;
	font-size: 11px;
	font-weight: bold;
	line-height: 8px;
	text-align: center;
	background-color: #e78e46;
	border: 1px solid #ba6a29;
	color: #ffffff;
}

@-moz-document url-prefix() {
	.ArasXmlSchemaDynamicElement .dojoxGridExpando:after {
		line-height: 9px;
	}
}

.dojoxGridRow .MixedContentNode {
	font-style: italic;
}

.ArasXmlSchemaElementInactive {
	opacity: 0.4;
}

.ArasBlockXmlSchemaElementGroup img {
	opacity: 0.01;
}

.ConditionMark {
	position: absolute;
	right: 1px;
	top: 4px;
}

/*--- List Styles -------*/
.ArasListXmlSchemaElementTreeNode {
	counter-reset: listCounter;
}

.ArasListItemXmlSchemaElementTreeNode {
	counter-increment: listCounter;
}

.ArasListItemXmlSchemaElementTreeNode.bulletListItem
	.ArasListItemPointContainer:after {
	content: counter(listCounter, disc);
	display: inline-block;
}

.ArasListItemXmlSchemaElementTreeNode.numericListItem
	.ArasListItemPointContainer:after {
	content: counter(listCounter, decimal);
	display: inline-block;
}

.ArasListItemXmlSchemaElementTreeNode.alphaListItem
	.ArasListItemPointContainer:after {
	content: counter(listCounter, lower-alpha);
	display: inline-block;
}
/*--- end of List Styles -------*/
