﻿#FilteringPopupContainer {
	position: absolute;
	display: table;
	z-index: 10;
	background-color: #fff;
	border: 1px solid darkgray;
	padding: 5px 15px 15px;
	box-shadow: 3px 3px 5px #aaa;
}
.fpRowGroup {
	display: table-row;
	overflow: hidden;
	cursor: default;
}
.fpLabelColumn {
	padding-right: 8px;
	white-space: nowrap;
}
.fpRowGroup > input,
.fpRowGroup > select {
	width: 208px;
	margin-top: 10px;
	box-sizing: border-box;
}
.fpRowGroup select {
	/* The 'padding' property is redefined with '!important', because the one 
	in the '.aras-form select' standard selector (styles/common.min.css) is overrided 
	by the 'select' selector from the 'styles/formElements.css' file.
	This line has to be removed when the 'styles/formElements.css' file is no longer loaded */
	padding: 0.16666667rem 2.16666667rem 0.16666667rem 0.33333333rem !important;
}
.fpEditFullSize {
	border: 1px solid #6B6B6B;
}
.fpLabelColumn,
.fpEditHalfSize {
	display: table-cell;
	padding-top: 10px;
}
.fpEditHalfMoreSize {
	display: inline-block;
	width: 78px;
	margin-right: -5px;
}
.fpTo {
	display: inline-block;
	width: 12px;
}
#TimeframeLast #edtDateCount, 
#TimeframeLast select,
.fpRowGroup .fpEditFullSize,
.fpRowGroup > select, 
.fpLabelColumn {
	vertical-align: middle;
}
#TimeframeLast #edtDateCount {
	width: 124px;
}
#TimeframeLast select {
	width: 80px;
	box-sizing: border-box;
}
.fpButtons {
	margin-top: 15px;
}
.fpButtons > input[type="button"] {
	width: calc(50% - 5px);
}
.fpButtons > input[type="button"]:not(:last-child) {
	margin-right: 6px;
}