﻿.sidebarKeyedName {
	position: absolute;
	font-size: inherit;
	color: inherit;
	margin-top: 4px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	bottom: 10px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	-webkit-transform:  rotate(-90deg);
	-moz-transform:  rotate(-90deg);
	transform-origin: 0 0 0;
	-o-transform:  rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-ms-transform-origin: 0% 0%;
}
