﻿.sidebarButtonIcon {
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButtonFormIcon {
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButtonHoopsIcon {
	background-image:url('../../../images/3DViewerOff.svg');
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButtonDynamicHoopsIcon {
	background-image:url('../../../images/Dynamic3DViewerOff.svg');
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButtonImageIcon {
	background-image:url('../../../images/ImageViewerOff.svg');
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButtonAdvancedImageIcon {
	background-image:url('../../../images/AdvancedImageViewerOff.svg');
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButtonPdfIcon {
	background-image:url('../../../images/PDFViewerOff.svg');
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButtonAllFilesDropDownIcon{
	background-image:url('../../../images/arrow-b-white-14x14.svg');
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
}

.sidebarIconComparison
{
	background-image:url('../../../images/ComparisonViewerOn.svg');
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
}

.sidebarButton {
	width: 30px;
	height: 30px;
}

.sidebarAllFilesDropDownButton {
	width: 100%;
	bottom: 0px;
	border: 0px;
	border-top: 1px solid white;
	position:absolute;
	background-color: transparent;
	display: block;
}

.sidebarButton.ssv-button-active,
.claro .dijitMenu.sidebarDropDownMenu.ssv-button-active {
	background-color: white;
}
.sidebarButton.ssv-button-active .sidebarButtonHoopsIcon,
.dijitMenu.sidebarDropDownMenu.ssv-button-active .sidebarButtonHoopsIcon {
	background-image:url('../../../images/3DViewerOn.svg');
}
.sidebarButton.ssv-button-active .sidebarButtonDynamicHoopsIcon,
.dijitMenu.sidebarDropDownMenu.ssv-button-active .sidebarButtonDynamicHoopsIcon {
	background-image:url('../../../images/Dynamic3DViewerOn.svg');
}
.sidebarButton.ssv-button-active .sidebarButtonImageIcon,
.dijitMenu.sidebarDropDownMenu.ssv-button-active .sidebarButtonImageIcon {
	background-image:url('../../../images/ImageViewerOn.svg');
}
.sidebarButton.ssv-button-active .sidebarButtonAdvancedImageIcon,
.dijitMenu.sidebarDropDownMenu.ssv-button-active .sidebarButtonAdvancedImageIcon {
	background-image:url('../../../images/AdvancedImageViewerOn.svg');
}
.sidebarButton.ssv-button-active .sidebarButtonPdfIcon,
.dijitMenu.sidebarDropDownMenu.ssv-button-active .sidebarButtonPdfIcon {
	background-image:url('../../../images/PDFViewerOn.svg');
}

.leftSidebar_icon_fix {
	background-image: url("../../../images/PDFViewerOn.svg"), url("../../../images/ImageViewerOn.svg"), url("../../../images/AdvancedImageViewerOn.svg"),  url('../../../images/3DViewerOn.svg'), url('../../../images/ComparisonViewerOn.svg'), url('../../../images/PDFViewerOff.svg'), url('../../../images/ImageViewerOff.svg'), url('../../../images/AdvancedImageViewerOff.svg'), url('../../../images/3DViewerOff.svg'), url('../../../images/DiscussionPanelOn.svg');
}

.sidebarButton .dijitButtonNode {
	border: 0px solid;
	width: 22px;
	height: 22px;
	padding: 4px;
}
.sidebarAllFilesDropDownButton .dijitButtonNode {
	border: 0 solid;
	width: 14px;
	padding-left: 8px;
	padding-right: 8px;
}