﻿.searchPanelSearchButton {
  left: -1px;
  height: 32px;
  display: block;
  font-weight: bold;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 5px 8px 7px 29px;
  background-position: 6px 6px !important;
  background-image: url(../../Images/ExecuteSearchWhite.svg);
}
.searchPanelTextBox {
  flex-grow: 1;
  border-right: 0;
  border-radius: 2px 0 0 2px;
}
.searchPanelQueryTextTextBox {
  width: 100%;
  margin-right: 8px;
  display: inline-flex;
}
.searchPanelQueryTextTextBox > input::-ms-clear {
  display: none;
}
.searchSyntaxHelpTitleContainer {
  display: flex;
  justify-content: space-between;
}
.searchSyntaxHelpItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.searchSyntaxHelpTitle {
  font-size: 26px;
  margin-bottom: 20px;
}
.searchSyntaxHelpItem {
  width: 50%;
  display: flex;
}
.searchSyntaxHelpSymbol {
  width: 70px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.searchSyntaxHelpMeaning {
  padding: 8px;
  font-size: 14px;
  width: calc(100% - 86px);
}
.searchSyntaxHelpMeaningTitle {
  font-size: 16px;
  font-weight: bold;
}
.searchSyntaxHelpMeaningDescription > span {
  color: #1e90ff;
}
.searchSyntaxHelpMeaningHint {
  font-size: 90%;
  color: #777;
}
.syntaxHelpTooltip {
  padding: 0;
  height: 100%;
  outline: none;
}
.syntaxHelpTooltip .dijitTooltipContents {
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
}
.syntaxHelpTooltip .dijitTooltipContainer {
  background: rgba(255, 255, 255, 0.9);
}
.syntaxHelpTooltip .aras-dialog__maximize-button,
.syntaxHelpTooltip .aras-dialog__close-button {
  width: 40px;
  height: 40px;
}
.syntaxHelpTooltip .aras-icon-close::before,
.syntaxHelpTooltip .aras-icon-close::after {
  width: 3px;
}
.searchPanelControlsToolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
