﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
html {
  background-color: #fbfbfb;
  box-sizing: border-box;
}
#errorContainer {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  visibility: visible;
}
.crawlersGrid,
.fileProcessorsGrid,
.internalReindexGrid {
  width: 100%;
  height: 200px;
  display: block;
  margin-top: 4px;
}
.dashboardSpinner {
  border: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: white;
}
.hidden {
  display: none !important;
}
.buttonsWrapper {
  text-align: right;
}
#agentIndicator {
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 7px;
  top: 0;
  border: 1px solid rgba(17, 17, 17, 0.5);
  vertical-align: middle;
}
h1 {
  padding: 5px 0 5px 10px;
  margin-top: 0;
}
#legendTable {
  border-spacing: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#legendTable caption {
  font-size: 14px;
  margin-bottom: 4px;
  text-align: left;
}
#legendTable th,
#legendTable td {
  font-size: 12px;
  padding: 5px 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#legendTable th {
  background-color: #f6f6f6;
  text-align: center;
}
.spinning {
  transform: rotate(45deg);
  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
#gridLegend {
  vertical-align: middle;
}
/* Dojo Styles Overrides */
.dojoxGridScrollbox,
.dojoxGridMasterHeader {
  background-color: #fbfbfb !important;
}
.claro .dojoxGridMasterHeader .dojoxGridRowTable {
  border-top: 1px solid #ccc;
}
.claro .dojoxGridHeader {
  border-top: 0 !important;
}
.claro .dojoxGridHeader .dojoxGridCell {
  border-left-width: 1px !important;
}
.dojoxGrid .dojoxGridContent .dojoxGridCell:first-child {
  border-left: 1px solid #ccc !important;
}
/* Internal Reindex */
#irGrid {
  height: calc(100% - 72px);
}
#irProgressBarWrap {
  width: 600px;
  height: 32px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
}
#irProgressBar {
  height: 100%;
}
#irProgressBar[data-state-color='green'] {
  background-color: #66bb6a;
}
#irProgressBar[data-state-color='yellow'] {
  background-color: #ffcc80;
}
#irProgressBar[data-state-color='blue'] {
  background-color: #42a5f5;
}
#irToolbar {
  margin-bottom: 12px;
}
#irToolbar > * {
  display: inline-block;
  vertical-align: middle;
}
#irStatusBar {
  margin-bottom: 12px;
}
#irStatusBar .irInfo {
  margin-right: 22px;
}
.aras-button[data-id='Start'] img,
.aras-button[data-id='Continue'] img,
.aras-button[data-id='Stop'] img {
  height: 18px;
  padding: 3px 0;
}
#irGrid td img {
  cursor: pointer;
}
#irStatus[data-state-color='green'] {
  color: #388e3c;
}
#irStatus[data-state-color='yellow'] {
  color: #ffa726;
}
#irStatus[data-state-color='blue'] {
  color: #1976d2;
}
