﻿html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333333;
  overflow: hidden;
  background-color: #fbfbfb;
}
img {
  display: inline;
}
#layoutContainer {
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#filtersContainer {
  width: 256px;
  overflow: visible;
  margin-right: 12px;
  background-color: #ffffff;
}
#searchContainer {
  overflow: visible;
  padding: 0 14px;
}
#searchContainer .activeFilterChipsToolbar {
  margin-bottom: 12px;
}
#paginatorContainer {
  height: 56px;
}
#paginatorContainer aras-pagination {
  width: 100%;
  margin: 0 auto;
  max-width: 896px;
  margin-top: 12px !important;
}
#messageContainer {
  position: relative;
  top: 40%;
  text-align: center;
  font-size: 18px;
  color: #3866b1;
  cursor: pointer;
}
label > input[type='checkbox'] {
  display: none;
}
label > input[type='checkbox'] + span {
  background-size: 18px 18px !important;
  background: url('../Images/CheckboxUnselect.svg') no-repeat;
}
label > input[type='checkbox']:checked + span {
  background: url('../Images/CheckboxSelect.svg') no-repeat;
}
input[type='checkbox'] + span {
  color: #444444;
  font-size: 12px;
  min-height: 18px;
  line-height: 18px;
  padding-left: 24px;
  padding-bottom: 0;
  word-break: break-all;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  display: inline-block;
}
input[type='button'] {
  border: 0;
  color: #fff;
  width: 80px;
  height: 25px;
  font-size: 12px;
  cursor: pointer;
  padding: 3px 10px;
  text-align: center;
  background-color: #3668b1;
}
input[type='button']:hover {
  background-color: #5789d0;
}
input[type='button']:nth-child(2) {
  background-color: #5f6871;
}
input[type='button']:nth-child(2):hover {
  background-color: #777f86;
}
.searchSpinner {
  border: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: white;
}
.hidden {
  display: none !important;
}
.transparentImage {
  opacity: 0.3;
  cursor: default !important;
}
.filterDialogButtonsContainer {
  font-size: 0;
}
.filterDialogButtonsContainer input[type='button']:nth-child(2) {
  margin-left: 8px;
}
.claro .dijitContentPane {
  padding: 0;
}
.claro .dijitTooltipContainer {
  height: 100%;
  padding: 12px;
  border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #555555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.claro .dijitTooltipContainer.dijitTooltipContents > div {
  margin-bottom: 10px;
}
.claro .dijitTooltipContainer.dijitTooltipContents > div:last-child {
  margin-bottom: 0;
}
.claro .dijitTooltipContainer.dijitTooltipContents img {
  max-width: 16px;
  max-height: 16px;
  margin-right: 6px;
  vertical-align: sub;
}
.claro .dijitTooltipFocusNode {
  padding: 0;
  height: 100%;
}
.claro .dijitTooltip.dijitTooltipRight {
  width: auto !important;
}
.claro .dijitPopup {
  box-shadow: none;
}
.shadow-d {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.24), 0 3px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.24), 0 3px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.24), 0 3px 4px rgba(0, 0, 0, 0.24);
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 896px;
}
.fixed-scroll-container {
  left: 8.5px;
  position: relative;
}
.resultMessage {
  color: #1b1b98;
  padding: 34px 0;
  font-size: 16px;
  font-weight: bold;
}
.fake-link {
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
}
.aras-button__text {
  margin: 0 auto;
}
.fullWindowPopup {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow: hidden !important;
  width: 100% !important;
  height: 100% !important;
}
.fullWindowPopup .container {
  min-height: 0;
}
.noConnector {
  padding: 0 !important;
}
.noConnector > div {
  padding: 0 !important;
  border: none !important;
}
.noConnector .dijitTooltipConnector {
  display: none;
}
