﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
ul.aras-list {
  list-style: none;
  padding: 0 16px 16px;
}
ul.aras-list li.aras-list-item {
  font: normal 1.166667rem / 1.2 Roboto, 'Noto Sans JP', Arial, sans-serif;
  padding: 0;
}
ul.aras-list li.aras-list-item.aras-list-item:hover {
  background-color: #ffffff;
  cursor: default;
}
ul.aras-list li.aras-list-item:before {
  content: '';
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}
ul.aras-list li.aras-list-item.circle-green:before {
  background-color: #a5d6a7;
}
ul.aras-list li.aras-list-item.circle-red:before {
  background-color: #ef9a9a;
}
ul.aras-list li.aras-list-item.circle-yellow:before {
  background-color: #ffcc80;
}
