﻿
.recursion-from{
	margin: 0px;
	padding: 0px;
	width: 22px;
	height: 22px;
    background-image: url(../../../Images/ReusedElement.svg);
	background-size: 22px;
	order: 4;
	background-repeat:no-repeat;
	position: absolute;
	right: 2px;
	visibility:hidden;
	margin-top:1px;
}

.recursion-on{
	margin: 0px;
	padding: 0px;
	width: 22px;
	height: 22px;
    background-image: url(../../../Images/RecursionStart.svg);
	background-size: 22px;
	order: 3;
	background-repeat:no-repeat;
	position: absolute;
	right: 2px;
	visibility:hidden;
	margin-top:1px;
}

.reference_glyph {
	width: 22px;
	height: 22px;
	background-size: 22px 22px;
	background-position: 0 0;
	position: relative;
}
code.template-cell {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.template-cell {
	text-align: left !important;
	color: rgb(68, 68, 68);
	font-weight: 400;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	border: none;
	font-size: 12px;
	background-color: transparent;
	margin-left:2px;
}

.template-cell_candidate {
	color: darkgrey;
}

.tree-cell-item-type {
	font-weight: 400;
	color: rgb(68, 68, 68);
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin-left:-8px;
	order: 1;
}

.tree-cell-item-type_candidate {
	color: darkgrey;
}

.tree-cell-template {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: rgb(68, 68, 68);
	font-size: 12px;
	background-color: transparent;
	border: none;
	margin-left: 12px;
	overflow: hidden;
	flex: 3 0px;
	order: 2;
	white-space:nowrap;
	margin-right:22px;
	text-overflow:ellipsis;
}

.tree-cell-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.tree-cell-flex {
	flex: 1 auto;
	display:table;
}

.dijitTooltipContainer .dijitTooltipFocusNode {
	padding: 0;
}

.template-error {
	color: red;
}

.claro  .dojoxGridHeaderOverride {
	border-top: 0px solid gray !important;
}

.template-normal {
	color: #0069e1;
}

.claro .dojoxGridTreeModel .dojoxGridNoChildren .aras_lazytreegrid_expando_with_icon {
	width: 50px !important;
}

.claro .aras_lazytreegrid_expando_with_icon {
	width: 50px !important;
	z-index: auto !important;
}

.claro td.dojoxGridCell img.aras_item_image {
	margin-top: 1px;
}

img.aras_lazytreegrid_icon {
	width: auto;
	height: auto;
	max-height: 22px;
	max-width: 22px;
}
.menu_item-image {
	vertical-align: middle;
	height: 20px;
	margin-right: 3px;
	width: 20px;
}
.claro td.dojoxGridCell {
	overflow: visible;
}
.aras-tooltip[data-tooltip][data-tooltip-show=true][data-tooltip-pos=down]:after {
 	transform: none;
 	left: 0;
}
.aras-tooltip.aras-tooltip_invalid:after {
	color: red;
}