﻿@{
	Layout = "../../../Modules/aras.innovator.core.ItemWindow/Views/Shared/_cuiTabItemViewLayout.cshtml";

	string state = Request.QueryString["state"];
}

@section extra_header
{
	<style type="text/css">
		.claro .dijitTooltip.dijitTooltipRight {
			white-space: nowrap;
		}
	</style>
	<script type="text/javascript">
		var originDocumentItem = item;
		var documentItem = item;
		var topWindow = aras.getMostTopWindowWithAras(window);
		var isTDFContainerView = true;
		var tabViewsController = {
			views: {},
			activeViewer: null,
			isTabLoading: false,
			_currentUser: aras.getUserID(),
			controls: {
				tabViewContol: null,
				sidebar: null,
				editorSidebarButton: null
			},
			shareData: {
				tdfSettings: null
			},
			_originMethods: {
				setItem: setItem
			},

			addViewer: function(viewerName, viewerControl) {
				if (viewerName && viewerControl) {
					this.views[viewerName] = viewerControl;
				}
			},

			getViewer: function(viewerName) {
				return this.views[viewerName];
			},

			loadViewer: function(viewerName, targetItem) {
				if (viewerName && viewerName !== this.activeViewer) {
					var targetViewer = this.views[viewerName];

					this.unloadViewer(this.activeViewer);

					if (targetViewer) {
						aras.browserHelper.toggleSpinner(document, true);

						if (!targetViewer.isContentLoaded || targetViewer.isContentLoaded()) {
							this.activeViewer = viewerName;

							setTimeout(function() {
								var viewerWindow = targetViewer.domNode.contentWindow || targetViewer.domNode.ownerDocument.defaultView;

								if (viewerWindow && viewerWindow.loadView) {
									viewerWindow.loadView(targetItem);
								}

								aras.browserHelper.toggleSpinner(document, false);
							}.bind(this), 0);
						} else {
							var onLoadHandler = function() {
								this.isTabLoading = false;
								this.loadViewer(viewerName, targetItem);

								targetViewer.domNode.removeEventListener('load', onLoadHandler);
							}.bind(this);

							targetViewer.domNode.addEventListener('load', onLoadHandler);

							isTabLoading = true;
						}
					}
				}
			},

			reloadActiveViewer: function(newItem) {
				if (this.activeViewer) {
					var targetViewer = this.views[this.activeViewer];

					if (targetViewer) {
						var viewerWindow = targetViewer.domNode.contentWindow || targetViewer.domNode.ownerDocument.defaultView;

						if (viewerWindow && viewerWindow.reloadView) {
							viewerWindow.reloadView(newItem);
						}
					}
				}
			},

			unloadViewer: function(viewerName) {
				if (viewerName) {
					var targetViewer = this.views[viewerName];

					if (targetViewer) {
						var viewerWindow = targetViewer.domNode.contentWindow || targetViewer.domNode.ownerDocument.defaultView;

						if (viewerWindow && viewerWindow.unloadView) {
							viewerWindow.unloadView();
						}
					}

					this.activeViewer = null;
				}
			},

			isViewEditable: function() {
				return aras.isTempEx(documentItem) || topWindow.isEditMode;
			}
		};

		setItem = function(newItemNode) {
			var originMethod = tabViewsController._originMethods.setItem;
			var isOriginItem = newItemNode.getAttribute('id') === originDocumentItem.getAttribute('id');

			if (originMethod) {
				originMethod(newItemNode);
			}

			documentItem = newItemNode;
			originDocumentItem = isOriginItem ? newItemNode : originDocumentItem;

			tabViewsController.reloadActiveViewer(newItemNode);
			updateMenuState();
		}

		function prepareTdfSettings(sourceDocumentItem) {
			var tdfSettings = JSON.parse(sourceDocumentItem.getAttribute('TDFSettings') || '{}');

			if (!tdfSettings.presentationConfigurationId) {
				var documentItemType = aras.getItemTypeDictionary(sourceDocumentItem.getAttribute('type'));
				var presentationRelationships = documentItemType.getRelationships('ITPresentationConfiguration');
				var foundPresentationRelationship = presentationRelationships.getItemCount() && presentationRelationships.getItemByIndex(0);

				if (foundPresentationRelationship) {
					tdfSettings.presentationConfigurationId = foundPresentationRelationship.getRelatedItemID();
				} else {
					aras.AlertError(aras.getResource('../Modules/aras.innovator.TDF', 'initialization.presentationNotFound'));
				}
			}

			return tdfSettings;
		}

		window.addEventListener('load', function() {
			if (tabViewsController.isTabLoading) {
				aras.browserHelper.toggleSpinner(document, true);
			}
		});

		function getSwitchOffButtonIds() {
			return ["tp_show_editor"];
		}

		function getSwitchOffDisabledButtonIcons() {
			return ["../images/TechDocEditorOff.svg"];
		}

		document.addEventListener('commandBarChanged', function (evnt) {
			if (evnt.locationName === 'ItemWindowSidebar' && evnt.changeType === 'loaded') {
				var sidebarControl = getSidebar();

				tabViewsController.controls.sidebar = sidebarControl;
				tabViewsController.controls.editorSidebarButton = sidebarControl.getChildren().filter(function (childWidget) { return childWidget.id === 'tp_show_editor'; })[0];

				if (!aras.isTempEx(documentItem)) {
					aras.evalMethod('tp_ShowEditor_ButtonClick', '', {control: tabViewsController.controls.editorSidebarButton});
				}

				showTabViewControl();
			}
		});

		function showTabViewControl() {
			var tabControl = tabViewsController.controls.tabViewContol;

			if (tabControl) {
				tabControl.domNode.style.visibility = 'visible';
			} else {
				setTimeout(showTabViewControl, 100);
			}
		}

		function afterSaveItem() {
			var editorSidebarButton = tabViewsController.controls.editorSidebarButton;

			editorSidebarButton.domNode.style.display = 'block';
		}

		document.addEventListener('loadWidgets', onWidgetsLoadedHandler);

		function onWidgetsLoadedHandler() {
			require([
				'dojo/_base/connect'
			], function (connect, ready) {
				var tabViewContol = window.getViewersTabs();
				var tabId;

				tabViewsController.shareData.tdfSettings = prepareTdfSettings(documentItem);

				for (tabId in tabViewContol._tabs) {
					tabViewsController.addViewer(tabId, tabViewContol.getTabById(tabId).getChildren()[0]);
				}

				// register events
				connect.connect(tabViewContol, 'onPreSelectTab', onPreSelectTabHandler);
				connect.connect(tabViewContol, 'onSelectTab', onSelectTabHandler);

				tabViewContol.selectTab(aras.isTempEx(documentItem) ? 'formTab' : 'editor_container');
				tabViewsController.controls.tabViewContol = tabViewContol;

				// at this point, iframes from UrlViewers allready attached to document and shortcuts can be blocked
				returnBlockerHelper.blockInChildFrames(window, true);

				topWindow.registerCommandEventHandler(window, afterSaveItem, 'after', 'save');
				topWindow.ITEM_WINDOW.registerStandardShortcuts(window, true, true);
			});
		}

		function onPreSelectTabHandler(sender, eventArguments) {
			if (tabViewsController.isTabLoading) {
				return true;
			}

			if (eventArguments.id !== tabViewsController.activeViewer) {
				tabViewsController.unloadViewer(tabViewsController.activeViewer);
			}
		}

		function onSelectTabHandler(sender, eventArguments) {
			var tabId = eventArguments.id;

			if (tabId == 'formTab') {
				// when formTab is selected, then item should be returned to initial state
				item = originDocumentItem;
				updateMenuState();
			}

			tabViewsController.loadViewer(tabId, documentItem);
		}
	</script>
}

@section instance {
	<div id="formContentPane" @(state == "tabs off" ? Html.Raw("style=\"height:100%;\"") : Html.Raw(""))>
		<div id="formLayoutContainer" class="aras-item-view__form-layout">
			<div id="placeHolderContentPane" class="aras-item-view__placeholder-pane">
				<div data-dojo-type="Controls/SimpleTabContainer" id="viewers" class="aras-item-view__viewers">
					<div class="aras-item-view__form-tab" data-dojo-type="Controls/Tab" data-dojo-props="selected:true" id="formTab"></div>
					<div id="editor_container" data-dojo-type="Controls/Tab">
						<div id="editorTab" data-dojo-type="TDF/Scripts/Viewers/UrlViewer" data-dojo-props="targetUrl:'../Modules/aras.innovator.TDF/HtmlRichTextEditor', getSwitchOffButtonIds: getSwitchOffButtonIds, getSwitchOffDisabledButtonIcons: getSwitchOffDisabledButtonIcons" baseClass="dijitContentPaneNoPadding" style="height:100%; width:100%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
}