﻿/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('fonts/roboto-v18-latin-regular.woff2') format('woff2'),
		url('fonts/roboto-v18-latin-regular.woff') format('woff');
}

/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('fonts/roboto-v18-latin-700.woff2') format('woff2'),
		url('fonts/roboto-v18-latin-700.woff') format('woff');
}

/* roboto-700italic - latin */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
		url('fonts/roboto-v18-latin-700italic.woff2') format('woff2'),
		url('fonts/roboto-v18-latin-700italic.woff') format('woff');
}
