﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
div[id='QueryBuilderEditorContainer'] {
  height: 100%;
}
div[id='QueryBuilderEditorContainer'] div[id='queryDefinitionContainer'] {
  display: flex;
  align-items: flex-start;
  height: 100%;
  position: relative;
}
div[id='QueryBuilderEditorContainer'] div[id='queryDefinitionContainer'] .separator {
  width: 1px;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 135px;
  top: 0;
  pointer-events: none;
}
div[id='QueryBuilderEditorContainer'] div[id='queryDefinitionContainer'] .separator:before {
  display: block;
  content: '';
  width: 1px;
  height: 100%;
  position: relative;
  background-color: #b4b4b4;
  z-index: 1;
}
div[id='QueryBuilderEditorContainer'] div[id='queryDefinitionContainer'] .separator:after {
  display: block;
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  background-color: white;
  left: -5px;
  top: 0;
}
div[id='QueryBuilderEditorContainer'] div[id='queryDefinitionContainer'] div[id='tree'] {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}
div[id='QueryBuilderEditorContainer'] div[id='queryDefinitionContainer'] .aras-nav {
  width: 100%;
}
div[id='QueryBuilderEditorContainer'] div[id='queryDefinitionContainer'] .aras-nav > li {
  position: relative;
  z-index: 1;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .aras-nav span,
div[id='QueryBuilderEditorContainer'] .aras-nav .aras-nav img {
  position: relative;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .icon-padding {
  padding-left: 2.6rem;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .aras-nav-element,
div[id='QueryBuilderEditorContainer'] .aras-nav .aras-nav-element:not(.aras-nav__parent) {
  padding-left: 122px;
  margin-left: 2.2rem;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .aras-nav-element:before {
  position: absolute;
  left: 0;
  height: 2.2rem;
  z-index: -1;
  width: 100%;
  content: '';
}
div[id='QueryBuilderEditorContainer'] .aras-nav .aras-nav-element:hover .query-item-controls div {
  opacity: 1;
}
div[id='QueryBuilderEditorContainer'] .aras-nav__child_selected .query-item-controls div,
div[id='QueryBuilderEditorContainer'] .aras-nav__parentdiv[id='QueryBuilderEditorContainer'] .aras-nav__parent_selected .query-item-controls div {
  opacity: 1;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls {
  position: absolute;
  left: 0;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
  height: 2.2rem;
  line-height: 2.2rem;
  z-index: 666;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls:hover > div {
  opacity: 1;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__control {
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
  opacity: 0;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__control_active {
  opacity: 1;
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__properties {
  background-image: url('../images/InputPropertyEmpty.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__properties.query-item-controls__control_active {
  background-image: url('../images/InputProperty.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__conditions {
  background-image: url('../images/CondAppliedEmpty.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__conditions.query-item-controls__control_active {
  background-image: url('../images/CondApplied.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__sort-order {
  background-image: url('../images/SortingAppliedEmpty.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__sort-order.query-item-controls__control_active {
  background-image: url('../images/SortingApplied.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__recursion-source {
  background-image: url('../images/RecursionStart.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item-controls__recursion {
  background-image: url('../images/ReusedElement.svg');
}
div[id='QueryBuilderEditorContainer'] .aras-nav .query-item_error {
  color: red;
}
div[id='QueryBuilderEditorContainer'] div[id='queryToolbar'] > div > div {
  padding: 1px 0;
}
div[id='QueryBuilderEditorContainer'] div[id='queryToolbar'] > div > div .toolbar-item {
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}
div[id='QueryBuilderEditorContainer'] div[id='queryToolbar'] > div > div .toolbar-item.toolbar-item span {
  padding: 0;
}
div[id='QueryBuilderEditorContainer'] div[id='queryToolbar'] > div > div .toolbar-item_pressed {
  border-color: #dde7f5;
}
.query-item__name,
.query-item__where-use-condition,
.query-item__join-condition {
  margin-right: 0.5rem;
}
.query-item__join-condition {
  color: #808080;
}
.query-item__join-condition::before {
  content: '[';
}
.query-item__join-condition::after {
  content: ']';
}
.query-item__where-use-condition {
  color: #71afe0;
}
.query-item__where-use-condition::before {
  content: '{';
}
.query-item__where-use-condition::after {
  content: '}';
}
.qb-relatedItems-dialog,
dialog.polyfilled.qb-relatedItems-dialog {
  width: 400px;
  height: 340px;
}
.qb-relatedItems-dialog .aras-dialog__content,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content {
  padding: 10px 20px 0 20px;
}
.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean {
  padding: 0 0 10px 5px;
}
.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean input[type='checkbox'] + span,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean input[type='checkbox'] + span {
  height: 1.1rem;
  width: 1.1rem;
}
.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean input[type='checkbox'][type='checkbox']:checked + span:before,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean input[type='checkbox'][type='checkbox']:checked + span:before {
  margin-top: -0.3rem;
}
.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean span:last-child,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .aras-form-boolean span:last-child {
  float: left;
  line-height: 1;
}
.qb-relatedItems-dialog .aras-dialog__content .search-items,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .search-items {
  padding-bottom: 10px;
}
.qb-relatedItems-dialog .aras-dialog__content .search-items__input,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .search-items__input {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}
.qb-relatedItems-dialog .aras-dialog__content .search-items__label,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .search-items__label {
  font-size: 12px;
  margin: 0 0 5px 0;
}
.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid {
  height: 200px;
}
.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-header,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-header,
.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-active-cell,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-active-cell {
  display: none;
}
.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-row-cell,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-row-cell {
  font-size: 12px;
  border-width: 0;
}
.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-row-levelpad:first-child:nth-last-child(2):empty:after,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-row-levelpad:first-child:nth-last-child(2):empty:after {
  display: none;
}
.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-row-icon,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content .qb-relatedItems-dialog__grid .aras-grid-row-icon {
  display: inline-block;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.qb-relatedItems-dialog .aras-dialog__content button,
dialog.polyfilled.qb-relatedItems-dialog .aras-dialog__content button {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 130px;
}
.qb-reuse-dialog {
  height: 100%;
}
.qb-reuse-dialog .tree-conntainer {
  margin: 20px 5% 0 5%;
  height: calc(100% - 130px);
  overflow: auto;
}
.qb-reuse-dialog .icon-padding {
  padding-left: 2rem;
}
.qb-reuse-dialog .aras-nav-element {
  padding-left: 0;
  margin-left: 4px;
}
.qb-reuse-dialog .query-item-controls {
  display: none;
}
.qb-reuse-dialog .aras-btn {
  margin: 20px auto;
  display: block;
  width: 150px;
}
.qb-reuse-dialog .select-block {
  border-top: 1px solid #999;
  margin: 15px 5% 0;
  position: absolute;
  width: 90%;
  height: auto;
  bottom: 0;
}
.qb-reuse-dialog .dissabled-tree-element {
  pointer-events: none;
  position: relative;
}
.qb-reuse-dialog .dissabled-tree-element:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.4;
  left: 0;
  top: 0;
  z-index: 1;
}
/* Previews and editors*/
div[id='editOrder'] table {
  border-collapse: collapse;
  width: 100%;
}
div[id='editOrder'] table td {
  box-sizing: border-box;
  font-size: 0;
  width: 38%;
  padding-bottom: 0.42rem;
}
div[id='editOrder'] table td:first-child {
  width: 40%;
}
div[id='editOrder'] table td.colOrder {
  width: 12%;
}
div[id='editOrder'] table td.colDelete {
  width: 10%;
}
div[id='editOrder'] table .colOrder {
  display: table-cell;
}
div[id='editOrder'] table .colOrder > span {
  display: inline-block;
  width: 50%;
  height: 1.5rem;
  background-position: center center;
  background-size: cover;
}
div[id='editOrder'] table .colOrder > span.moveUpBtn {
  background-image: url('../images/MoveUp.svg');
}
div[id='editOrder'] table .colOrder > span.moveUpBtn:hover {
  background-image: url('../images/MoveUpActive.svg');
}
div[id='editOrder'] table .colOrder > span.moveDownBtn {
  background-image: url('../images/MoveDown.svg');
}
div[id='editOrder'] table .colOrder > span.moveDownBtn:hover {
  background-image: url('../images/MoveDownActive.svg');
}
div[id='editOrder'] table .colDelete > span {
  display: inline-block;
  width: 100%;
  height: 1.25rem;
  background: url('../images/Delete.svg') no-repeat center center / contain;
}
div[id='editOrder'] .sys_f_div_select,
div[id='editProperties'] .sys_f_div_select {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
}
div[id='editOrder'] .sys_f_div_select select,
div[id='editProperties'] .sys_f_div_select select {
  width: 100%;
}
div[id='editOrder'] .sys_f_div_select,
div[id='editProperties'] .sys_f_div_select,
div[id='editOrder'] .sys_f_div_select:hover,
div[id='editProperties'] .sys_f_div_select:hover {
  background: none;
}
div[id='editOrder'] .sys_f_div_select:before,
div[id='editProperties'] .sys_f_div_select:before {
  content: '';
  position: absolute;
  border: 0.33rem solid transparent;
  border-top-color: #3668b1;
  right: 0.4rem;
  top: 0.5rem;
}
div[id='editOrder'] .sys_f_div_select:hover:after,
div[id='editProperties'] .sys_f_div_select:hover:after {
  content: '';
  position: absolute;
  width: 1.32rem;
  height: 1.32rem;
  opacity: 0.3;
  background: #5e86c1;
  top: 0;
  right: 0;
}
.img-container {
  display: inline-flex;
  position: relative;
}
.icon-with-up-arrow:before {
  content: '';
  width: 22px;
  height: 22px;
  background-image: url('../images/ReferenceGlyph.svg');
  background-size: 22px;
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
}
div[id='editProperties'] .sys_f_div_select {
  float: none;
  vertical-align: middle;
  width: 90%;
}
div[id='editProperties'] img {
  padding: 0;
  display: inline-block;
  width: 5%;
  margin: 0 0 0 5%;
  vertical-align: middle;
}
.tooltip-buttons {
  clear: both;
  padding: 1.25rem 0 0 0;
  text-align: center;
}
.tooltip-buttons.hide {
  display: none;
}
.tooltip-buttons > button {
  margin: 0 0 0 5px;
  width: 9.58rem;
}
.tooltip-buttons > button:first-child {
  margin: 0;
}
div[id='showOrder'] ol {
  counter-reset: item;
}
div[id='showOrder'] ol li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-increment: item;
}
div[id='showOrder'] ol li:before {
  display: inline-block;
  min-width: 1rem;
  padding-right: 0.5rem;
  font-weight: bold;
  text-align: right;
  content: counter(item) '.';
}
div[id='showProperties'] ul {
  list-style: none;
}
div[id='showProperties'] ul li:before {
  content: '\2500';
  font-weight: bold;
  display: inline-block;
  margin: 0 5px 0 0;
}
