﻿@{
	Layout = "Shared/_Layout.cshtml";
}
@section header
{
	<style type="text/css">
		@@import "@Url.ContentWithSalt("~/styles/default.css")";
		@@import "@Url.ContentWithSalt("~/styles/common.min.css")";
	</style>
	<style>
		#main_spinner {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 999999;
			width: 100%;
			height: 100%;
			opacity: 0.7;
			background-color: white;
		}
	</style>
	<style>@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.CMF/Styles/cmfAdminStyle.css")";</style>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/contentTypeView.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=ItemWindowWithCommon")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.CMF/Scripts/AdminPanel/cmfItemForm.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.CMF/Scripts/AdminPanel/cmfAdminPanel.js")"></script>

}
@section center
{
	<!------ cmfContentType.html page content -------------------------------------------------------------------------->
	<iframe id="main_spinner" class="aras-hide" src="@Url.ContentWithSalt("~/scripts/spinner.html")" frameborder="0"></iframe>
	<div id="worflowToolContent" class="aras-flex" style="height: 100%">
		<div id="editorPane" style="width: 350px">
			<iframe id="tree-spinner" class="aras-hide" src="@Url.ContentWithSalt("~/scripts/spinner.html")"></iframe>
			<div id="divTree" class="aras-hide"></div>
		</div>
		<div id="tree-splitter" class="aras-splitter"></div>
		<div id="view-container" class="aras-flex-grow" style="height: 100%">
			<div id="viewContent" class="aras-flex aras-flex_column" style="height: 100%">
				<div id="forms"></div>
				<div id="form-splitter" class="aras-splitter"></div>
				<div id="relationshipsPane" class="aras-flex-grow" style="height: 100%"></div>
			</div>
		</div>
	</div>
	<script>
		var treeSplitter = document.getElementById('tree-splitter');
		window.ArasModules.splitter(treeSplitter);
		var formSplitter = document.getElementById('form-splitter');
		window.ArasModules.splitter(formSplitter);
	</script>
	<!------ end of cmfContentType.html page -------------------------------------------------------------------------->
}