﻿@{
	Layout = "Shared/_tabItemViewLayout.cshtml";
}
@section extra_header
{
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/queryBuilderView.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.QueryBuilder/Scripts/queryBuilder.js")"></script>
}
@section after_center
{
	<div id="QueryBuilderEditorContainer">
		<div id="queryToolbar"></div>
		<div id="queryDefinitionContainer">
			<div class="separator"></div>
			<div id="tree"></div>
		</div>
	</div>
}
