﻿<div>
	<div class="Wrap">
		<div id="toolbarContainers"></div>
		<div data-dojo-attach-point="OverflowContainer" class="HoopsOverflowContainer">
			<div data-dojo-attach-point="ViewerContainer" id="viewerContainer" class="ViewerContainer">
				<iframe id="dimmer_spinner" class="aras-hide" src="../../../../scripts/Spinner.html"></iframe>
			</div>
			<div data-dojo-attach-point="SnapshotContainer" class="SnapshotContainer">
				<img data-dojo-attach-point="SnapshotImage" src="" class="SnapshotImage" />
			</div>
		</div>

	</div>
</div>