﻿<div>
	<div class="Wrap">
		<div id="toolbarContainers"></div>
		<div data-dojo-attach-point="OverflowContainer" class="OverflowContainer">
			<div data-dojo-attach-point="ViewerContainer" class="ViewerContainer">
			</div>
			<div data-dojo-attach-point="SnapshotContainer" class="SnapshotContainer" tabindex="-1">
				<img data-dojo-attach-point="SnapshotImage" src="" class="SnapshotImage" />
			</div>
		</div>
	</div>
</div>