<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes" />
		<meta name="generator" content="Adobe RoboHelp 2019" />
		<title><%= output.title %></title>
		<% if(favicon && favicon.path && favicon.mediaType) { %>
			<link rel='shortcut icon' type='<%= favicon.mediaType %>' href='<%= favicon.path %>' />
		<% } %>
		
		<link rel="StyleSheet" href="template/<%= layout.name %>/layout<%= html.rtl ? '-rtl' : '' %>.css" type="text/css" />
		<script type="text/javascript" src="template/scripts/rh.min.js"></script>
		<script type="text/javascript" src="template/scripts/common.min.js"></script>
		<script type="text/javascript" src="template/scripts/layout.min.js"></script>
		<script type="text/javascript" src="template/scripts/layoutwidgets.min.js"></script>
		<link rel="stylesheet" type="text/css" href="template/styles/layoutfix.min.css">
		<link rel="stylesheet" type="text/css" href="template/styles/layout.min.css">
	  <script type="text/javascript" src="whxdata/projectsettings.js"></script>
		
	  <script type="text/javascript" >
		gTopicFrameName = "rh_default_topic_frame_name";
		gDefaultTopic = "#<%= output.firstTopic %>";
	</script>
	<script type="text/javascript" >
			gRootRelPath = ".";
			gCommonRootRelPath = ".";
	</script>
	</head>

	<body class="hide-children loading" data-rhwidget="Basic" data-class="media-desktop: KEY_SCREEN_DESKTOP; media-landscape: KEY_SCREEN_TABLET; media-mobile: KEY_SCREEN_PHONE; ios: KEY_SCREEN_IOS" data-controller="ModernLayoutController: mc; JsLoadingController" data-attr="dir:KEY_DIR">
		<div class="header" data-class="mobile-header-visible: @.l.mobile_header_visible" role="banner">
      <a data-click="$hc.goToHome() && (!(@KEY_SCREEN_DESKTOP || @KEY_SCREEN_TABLET) && @KEY_ACTIVE_TAB(null))" data-attr="title: @KEY_LNG.HomeButton; aria-label: @KEY_LNG.HomeButton; title:@KEY_LNG.HomeButton;href:rh.consts('DEFAULT_TOPIC')" >
				<div class="logo" data-attr="title:@KEY_LNG.HomeButton; data-logo-selector:@KEY_DO_NOT_PRESERVE_AR">
			&nbsp;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.HomeButton"></span>
				</div>
			</a>
			<div class="title">
				<%= output.title %>
			</div>
			<div class="brs_next" data-attr="title:@KEY_LNG.Next" >
				<a id="browseSeqNextLandscape" class="wBSNextButton" data-rhwidget="Basic" data-attr="href:.l.brsNext; aria-label:@KEY_LNG.Next" data-css="visibility: @.l.brsNext?'visible':'hidden'">&nbsp;
					<span style="color:transparent" data-css="display: @.l.brsNext?'block':'none'" data-html="@KEY_LNG.Next"></span>
				</a>
			</div>
			<div class="brs_previous" data-attr="title:@KEY_LNG.Prev"  >
				<a id="browseSeqBackLandscape" class="wBSBackButton" data-rhwidget="Basic" data-attr="href:.l.brsBack; aria-label:@KEY_LNG.Prev" data-css="visibility: @.l.brsBack?'visible':'hidden'">&nbsp;
					<span style="color:transparent" data-css="display: @.l.brsBack?'block':'none'"  data-html="@KEY_LNG.Prev"></span>
				</a>
			</div>
		</div>
		<!-- Function bar with TOC/IDS/GLO/FILTER/FTS buttons -->
		<div class="functionbar" data-css="width: sidebar_width | screen: 'desktop'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; " role="dialog">
			<div class="nav" role="navigation">
				<a class="toc" data-if="KEY_FEATURE.toc" data-class="active: @KEY_ACTIVE_TAB == 'toc'" data-click="$mc.toggleActiveTab('toc')"
						data-attr="title:@KEY_LNG.TableOfContents; href: '#';aria-label:@KEY_LNG.TableOfContents; aria-hidden: !@KEY_FEATURE.toc">
					&#160;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.TableOfContents"></span>
				</a>
				<a class="idx" data-if="KEY_FEATURE.idx" data-class="active: @KEY_ACTIVE_TAB == 'idx'" data-click="$mc.toggleActiveTab('idx')"
						data-attr="title:@KEY_LNG.Index; href: '#';aria-label:@KEY_LNG.Index; aria-hidden: !@KEY_FEATURE.idx">
					&#160;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Index"></span>
				</a>
				<a class="glo" data-if="KEY_FEATURE.glo" data-class="active: @KEY_ACTIVE_TAB == 'glo'" data-click="$mc.toggleActiveTab('glo')" data-attr="title:@KEY_LNG.Glossary; href: '#'; aria-label:@KEY_LNG.Glossary;aria-hidden: !@KEY_FEATURE.glo">
					&#160;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Glossary"></span>
				</a>
				<a class="filter" data-if="KEY_FEATURE.filter" data-class="active: @KEY_ACTIVE_TAB == 'filter'; filter-applied: @.l.tag_expression.length"  data-click="$mc.toggleActiveTab('filter')" data-attr="title:@KEY_LNG.Filter; aria-label:@KEY_LNG.Filter;href: '#'">&#160;</a>
				<a class="fts" data-if="!@KEY_SCREEN_DESKTOP || @KEY_SEARCH_LOCATION == 'tabbar'" data-class="active: @KEY_ACTIVE_TAB == 'fts'; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'"
						data-click="$mc.toggleActiveTab('fts')" data-attr="title:@KEY_LNG.SearchTitle; href: '#'; aria-label:@KEY_LNG.SearchTitle">
					&#160;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.SearchTitle"></span>
				</a>
			</div>
		</div>
		<!-- Table of contents -->
		<div class="toc-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'; visibility: @KEY_ACTIVE_TAB == 'toc'? 'visible':'hidden'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'; search-content: @KEY_SEARCH_LOCATION == 'content'; layout-visible: @KEY_ACTIVE_TAB == 'toc'; drill-down: KEY_TOC_DRILL_DOWN; ; loading: !@EVT_TOC_LOADED" role="list" data-attr="aria-hidden: @KEY_ACTIVE_TAB != 'toc'">
			<div class="mobileheader" data-attr="aria-hidden: @KEY_SCREEN_MOBILE == true">
				<span data-text="@KEY_LNG.TableOfContents"></span>
				<div class="totopic" data-click="$mc.toggleActiveTab('')" data-attr="title:@KEY_LNG.Back">
					<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Back"></span>
				</div>
			</div>
			<ul class="toc" data-rhwidget="List: .p.toc" data-controller="TocController: toc" data-click="$toc.onClick(event)">
				<li data-rif="item.type === 'item' || item.type === 'remoteitem'" data-i-class="$toc.class(item)" data-class="inactive: @bookid != '#{@pid}'" data-childorder="#{childOrder}"
						data-rhtags="#{$toc.tags(item)}" data-itemid="#{@id}">
					<a data-itext="item.name" data-i-href="$toc.url(item, '#{@id}')"></a>
				</li>
				<li class="book" data-rif="item.type === 'book'" data-class="active: @bookid == '#{@id}'; inactive: @bookid != '#{@pid}' &amp;&amp; @bookid != '#{@id}'" data-childorder="#{childOrder}" data-itemkey="#{$toc.key(item.absRef, item.key)}" data-itemid="#{@id}" data-itemlevel="#{@level}" data-rhtags="#{$toc.tags(item)}">
					<a data-itext="item.name" data-i-href="$toc.url(item, '#{@id}')"></a>
				</li>
				<li class="child max-height-transition" data-rif="item.key" data-class="show: @show_child#{@id}" data-childorder="#{childOrder}">
					<ul class="child" data-child="$toc.key(item.absRef, item.key)"></ul>
				</li>
			</ul>
		</div>
		<!-- Index -->
		<div class="idx-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'; visibility: @KEY_ACTIVE_TAB == 'idx'? 'visible':'hidden'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; layout-visible: @KEY_ACTIVE_TAB == 'idx'; "  data-scroll="@.l.load_more_index(true) | debounce: 50, delta: 100" role="dialog" data-attr="aria-hidden: @KEY_ACTIVE_TAB != 'idx'">
			<div class="mobileheader" data-attr="aria-hidden: @KEY_SCREEN_MOBILE == true">
				<span data-text="@KEY_LNG.Index"></span>
				<div class="totopic" data-click="$mc.toggleActiveTab('')" data-attr="title:@KEY_LNG.Back">
					<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Back"></span>
				</div>
			</div>
			<div id="idx" class="Index">
				<input class="IdxFilter" data-attr="placeholder, title:@KEY_LNG.IndexFilterKewords; title:@KEY_LNG.IndexFilterKewords;" type="text" data-keyup="@.l.idxfilter(node.value)" />
				<ul class="index-list" data-rhwidget="List: key: PROJECT_INDEX_DATA, renderkey: .l.idxfilter , filter: $ic.showItem(item.name), spliton: index % 60 == 59" data-config="loadmore: '.l.load_more_index'" data-controller="IndexController: ic">
					<li class="treeitem IndexAlphabet" data-rif="$ic.showCategory(item.name, this.path.length)" data-itemlevel="#{@level}">
						<span class="IndexAlphabetText" data-itext="$ic.alphaText(item.name)"></span>
					</li>
					<li class="treeitem IndexKeyword" data-i-data-rhtags="item['data-rhtags']">
						<a data-rif="item.topics &amp;&amp; item.topics.length == 1" class="nolink IndexKeywordText" data-i-href="item.topics[0].url" data-itext="item.name" data-i-aria-labelledby="item.name">
						</a>
						<span class="IndexKeywordText IndexKeyword unselectable" data-itext="item.name" data-rif="item.topics &amp;&amp; item.topics.length != 1" data-i-title="item.name" data-click="@show.#{@id}(!@show.#{@id})"></span>
						<ul data-if="@show.#{@id}" style="list-style-type: none;">
							<li data-repeat="i, topic:#{@itemkey}.topics" data-rif="item.topics &amp;&amp; item.topics.length > 1" class="IndexChildBlock IndexKeyword">
								<a class="nolink IndexLink IndexLinkText" data-i-href="$topic.url" data-i-data-rhtags="$topic['data-rhtags']" data-itext="$topic.name" data-i-title="$topic.name" data-i-aria-labelledby="$topic.name">
								</a>
							</li>
						</ul>
						<div class="IndexChildBlock" data-rif="item['keys']">
							<ul class="child" data-child="#{@itemkey}.keys" style="list-style-type: none;"></ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- Glossary -->
		<div class="glo-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'; visibility: @KEY_ACTIVE_TAB == 'glo'? 'visible':'hidden'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; layout-visible: @KEY_ACTIVE_TAB == 'glo'" role="dialog" data-attr="aria-hidden: @KEY_ACTIVE_TAB != 'glo'">
			<div class="mobileheader" data-attr="aria-hidden: @KEY_SCREEN_MOBILE == true">
				<span data-text="@KEY_LNG.Glossary"></span>
				<div class="totopic" data-click="$mc.toggleActiveTab('')" data-attr="title:@KEY_LNG.Back">
					<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Back"></span>
				</div>
			</div>
			<div id="glo" class="Glossary" data-controller="GlossaryController: gc">
				<input class="GloFilter" data-attr="placeholder, title:@KEY_LNG.GlossaryFilterTerms;" type="text" data-keyup="$gc.filterGlo(node.value)"/>
				<ul style="list-style: none;">
					<div data-repeat="i, glossary: PROJECT_GLOSSARY_DATA">
						<li class="treeitem GloAlphabet" data-rif="!$gc.exists($glossary.name)&amp;&amp;!$gc.isFiltered($glossary.name)">
							<span class="GloAlphabetText" data-itext="$gc.alphaText($glossary.name)"></span>
						</li>
						<li class="treeitem"  data-rif="!$gc.isFiltered($glossary.name)">
							<div class="GlossTerm unselectable" data-type="11" data-i-title="$glossary.name" data-term="$glossary.name" data-click="@show.#{@index}(!@show.#{@index})">
								<span class="GlossaryTermText" data-itext="$glossary.name"></span>
							</div>
							<div class="GlossDefinition unselectable" data-type="12" data-if="@show.#{@index}">
								<span class="GlossDefinitionText" data-itext="$glossary.value"></span>
							</div>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<!-- Filter -->
		<div class="filter-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'; visibility: @KEY_ACTIVE_TAB == 'filter'? 'visible':'hidden'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; layout-visible: @KEY_ACTIVE_TAB == 'filter'; loading: !@KEY_MERGED_FILTER_KEY" role="dialog" data-attr="aria-hidden: @KEY_ACTIVE_TAB != 'filter'">
			<div class="mobile-filter-heading" data-if="KEY_SCREEN_PHONE" data-attr="aria-hidden: @KEY_SCREEN_PHONE == false">
				<a class="mobile_back" data-click="$mc.filterDone()" data-attr="title:@KEY_LNG.ApplyTip">
					<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.ApplyTip"></span>
				</a>
				<div class="page-title" data-text="KEY_PROJECT_FILTER_CAPTION"></div>
				<a class="reset-button" data-attr="href: '#'; title: @KEY_LNG.Reset; aria-label:''" data-click="$mc.setDefaultTagStates()" data-class="layout-visible: $mc.isTagStatesChanged(@KEY_TAG_EXPRESSION)">
					<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Reset"></span>
				</a>
			</div>
			<p class="filter-title" data-if="(@KEY_SCREEN_TABLET || @KEY_SCREEN_DESKTOP) &amp;&amp; @KEY_MERGED_FILTER_KEY" data-text="KEY_PROJECT_FILTER_CAPTION" data-attr="aria-hidden: @KEY_SCREEN_PHONE == false"></p>
			<a class="reset-button" data-attr="href: '#'; title: @KEY_LNG.Reset; aria-label:''" data-click="$mc.setDefaultTagStates()" data-class="layout-visible: $mc.isTagStatesChanged(@KEY_TAG_EXPRESSION)">
				<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Reset"></span>
			</a>
			<ul class="wFltOpts" data-rhwidget="List:KEY_MERGED_FILTER_KEY" data-controller="FilterController: fc" data-click="$fc.click(event)"
	data-class="radio: @KEY_PROJECT_FILTER_TYPE == 'radio'; checkbox: @KEY_PROJECT_FILTER_TYPE == 'checkbox'">
				<li data-i-class="$fc.class(item)" data-itemkey="#{@path}" data-itemvalue="#{name}">
					<input data-rif="$fc.inputType(item) == 'checkbox'" data-i-id="'filter#{@id}'" type="checkbox" data-i-value="#{@index}" data-i-aria-labelledby="filter-label-#{@id}"/>
					<input data-rif="$fc.inputType(item) == 'radio'" data-i-id="'filter#{@id}'" type="radio" data-i-name="'filter_name#{@pid}'" data-i-value="'#{@index}'" data-i-aria-labelledby="filter-label-#{@id}"/>
					<label data-i-for="'filter#{@id}'" data-i-title="item.display" data-itext="item.display" data-class="tag-parent: #{@itemkey}.children; checked: KEY_PROJECT_TAG_STATES#{@path}" data-i-id="filter-label-#{@id}"></label>
					<ul class="wFltOptsGrp" data-child="#{@itemkey}.children" data-rif="item.children"></ul>
				</li>
			</ul>
		</div>
		<!-- Sidebar sizer -->
		<div class="sidebarsizer left-pane boundry column-resize" data-if="@.l.desktop_sidebar_available === true" data-resize="@.l.desktop_sidebar_visible(@sidebar_width == null || @sidebar_width != '0px') | x: 'sidebar_width', maxx: 0.7, screen: 'desktop'" data-css="left: sidebar_width | screen: 'desktop', dir: 'ltr'; right: sidebar_width | screen: 'desktop', dir: 'rtl'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false;" role="presentation" data-attr="aria-hidden: !@KEY_SCREEN_DESKTOP">
			<a class="sidebartoggle" data-click="@sidebar_width(null) | screen: 'desktop'" data-toggle=".l.desktop_sidebar_visible" data-attr="title: @KEY_LNG.SidebarToggleTip">&nbsp;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.SidebarToggleTip"></span>
			</a>
		</div>
		<!-- Search field -->
		<div class="searchbar left-pane" data-css="width: sidebar_width | screen: 'desktop'; visibility: @KEY_ACTIVE_TAB == 'fts'? 'visible':'hidden'" data-class="searchpage-mode, layout-visible: @KEY_ACTIVE_TAB == 'fts'; sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'; search-content: @KEY_SEARCH_LOCATION == 'content';searchbar-open:@focusin_main_searchbox && @SEARCH_RESULTS_KEY!== undefined &&  (@SEARCH_RESULTS_KEY).length>0;searchbar-mobile:KEY_SCREEN_PHONE" data-controller="SearchController:sc" role="dialog" data-attr="aria-hidden: @KEY_ACTIVE_TAB != 'fts'">
			<div class="mobileheader"><span data-text="@KEY_LNG.SearchPageTitle"></span><div class="totopic" data-if="@KEY_ACTIVE_TAB == 'fts'" data-click="$mc.toggleActiveTab('')" data-attr="title:@KEY_LNG.Back"></div></div>
			<div class="search-input" data-class="search-input-open:@focusin_main_searchbox && @SEARCH_RESULTS_KEY!== undefined &&  (@SEARCH_RESULTS_KEY).length>0" data-if="$mc.isSearchMode(@KEY_ACTIVE_TAB, @active_content)" data-attr="aria-hidden: !$mc.isSearchMode(@KEY_ACTIVE_TAB, @active_content)" role="search">
				<input class="wSearchField" type="text" data-class="no-filter: !@KEY_FEATURE.filter" data-attr="title, placeholder: @KEY_LNG.Search"
		data-value="KEY_SEARCH_TERM" data-keyup="$mc.newSearch(node.value, event.keyCode, event), $sc.handleKey(event)|debounce:150" data-focus="@focusin_main_searchbox(true)" data-blur="$sc.handleFocusOut('focusin_main_searchbox')|timeout:200" />
				<a class="wSearchLink" data-click="@EVT_SEARCH_TERM(true)" data-attr="href: '#'; title:@KEY_LNG.Search; aria-label:@KEY_LNG.Search" data-if="@KEY_SCREEN_PHONE">&nbsp;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Search"></span>
				</a>

				<div data-if="@focusin_main_searchbox && @SEARCH_RESULTS_KEY!== undefined &&  (@SEARCH_RESULTS_KEY).length>0" class="search-list" >
					<table data-class="search-table-desktop:KEY_SCREEN_DESKTOP; search-table-mobile:KEY_SCREEN_PHONE; search-table-tablet:KEY_SCREEN_TABLET">
						<tr data-repeat="search_results" data-class="search-suggestion:true; search-selected:@selected===#{@index}" data-click="$sc.handleClick(#{@index})">
							<td class="search-text-column">
								<div class="search-text" data-itext="item.term"></div>
							</td>
							<td>
								<div class="search-delete" data-if="$sc.canDelete(#{@index})" data-click="$sc.handleDelete(#{@index})"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!-- Search results -->
		<div class="searchresults left-pane" data-css="width: sidebar_width | screen: 'desktop'; left: sidebar_width | screen: 'desktop', dir: 'ltr'; right: sidebar_width | screen: 'desktop', dir: 'rtl'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'; search-content: @KEY_SEARCH_LOCATION == 'content'; layout-visible: $mc.isSearchMode(@KEY_ACTIVE_TAB, @active_content); " data-scroll="@.l.load_more_results(true) | debounce: 50, delta: 100"  role="dialog" data-attr="aria-hidden: !$mc.isSearchMode(@KEY_ACTIVE_TAB, @active_content)">

			<label class="wSearchAndLabelResults" data-if="KEY_FEATURE.andsearch" for="andsearch" data-class="active: @KEY_AND_SEARCH == '1'">
				<input id="andsearch" type="checkbox" value="1" class="wSearchANDCheckbox" data-checked="KEY_AND_SEARCH" />
				<span class="wSearchAND" data-text="@KEY_LNG.EnableAndSearch"></span>
			</label>
			

			<?rh-msp-search-results-start widgettype="searchresult" class="wSearchResults" id="searchresults" ?>
			<div class="wSearchResultSettings rh-hide" aria-hidden="true">
				<div class="wSearchHighlight">
					<?rh-msp-search-highlight-control id="highlightsearch" widgettype="highlightsearch" type="checkbox"
				checked class="wSearchHighlight" id="highlightsearch" textcolorval="#000000" bgcolorval="#FCFF00"
				aria-labelledby="highlightlabel" ?>
					<label for="highlightsearch" data-html="@KEY_LNG.HighlightSearchResults" id="highlightlabel"></label>
				</div>
			</div>
			<div class="wSearchMessage" data-if="!@EVT_SEARCH_IN_PROGRESS" data-attr="aria-hidden: @EVT_SEARCH_IN_PROGRESS">
				<span id="searchMsg" class="wSearchMessage" >&nbsp;</span>
			</div>
			<div data-class="loading: EVT_SEARCH_IN_PROGRESS" data-if="EVT_SEARCH_IN_PROGRESS" data-attr="aria-hidden: @EVT_SEARCH_IN_PROGRESS"></div>
			<p class="progressbar" data-if="KEY_SEARCH_PROGRESS">
				<span data-text="KEY_SEARCH_PROGRESS"></span>%</p>
			<div class="wSearchResultItemsBlock" data-if="!@EVT_SEARCH_IN_PROGRESS">
				<div data-rhwidget="List: key: @.p.searchresults, spliton: index % @MAX_RESULTS == 14" data-config="loadmore: '.l.load_more_results', loaded: '.l.results_loaded'">
					<div class="wSearchResultItem">
						<a class="nolink" data-attr="href: @#{strUrl}; aria-label:''">
							<div class="wSearchResultTitle" data-itext="item.strTitle"></div>
						</a>
						<div class="wSearchContent">
							<span class="wSearchContext" data-i-data-html="item.strSummary"></span>
						</div>
						<div class="wSearchURL">
							<span class="wSearchURL" data-itext="item.strBreadcrumbs"></span>
						</div>
					</div>
				</div>
			</div>
			<div data-if="@.l.results_loaded && @.p.searchresults.length && !@EVT_SEARCH_IN_PROGRESS" class="wSearchResultsEnd">
				<?rh-lng-string lngname="EndOfResults" lngvalue="End of search results." ?>
			</div>
			<?rh-msp-search-results-end ?>
		</div>
		<!-- Topics -->
		<div class="topic main" data-css="left: sidebar_width | screen: 'desktop', dir: 'ltr'; right: sidebar_width | screen: 'desktop', dir: 'rtl'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; " role="main">
			<div class="functionholder" role="banner">
				<div data-repeat="@KEY_CUSTOM_BUTTONS" data-attr="class: '#{class}'" data-rif="item.align !== 'left'" data-i-data-if="item.show">
					<a data-i-title="item.title" data-i-href="item.link || '#'" data-i-onmouseover="item.onmouseover" 
								data-i-onclick="item.onclick" data-i-onload="item.onload">&#160;
								<span style="color: transparent"  data-html="'#{title}'"></span></a>
								<style display="none" data-i-onload="item.onload"></style>
				  </div>
				<div class="brs_previous" data-attr="title:@KEY_LNG.Prev" data-css="display: @.l.brsBack?'block':'none'" >
					<a id="browseSeqBack" class="wBSBackButton" data-rhwidget="Basic" data-attr="href:.l.brsBack; aria-label:@KEY_LNG.Prev" data-css="visibility: @.l.brsBack?'visible':'hidden'">&nbsp;
						<span style="color:transparent" data-css="display: @.l.brsBack?'block':'none'" data-html="@KEY_LNG.Prev"></span>
					</a>
					<?rh-msp-bs-back-end ?>
				</div>
				<div class="brs_next" data-attr="title:@KEY_LNG.Next" data-css="display: @.l.brsNext?'block':'none'">
					<a id="browseSeqNext" class="wBSNextButton" data-rhwidget="Basic" data-attr="href:.l.brsNext; aria-label:@KEY_LNG.Next" data-css="visibility: @.l.brsNext?'visible':'hidden'">&nbsp;
						<span style="color:transparent" data-css="display: @.l.brsNext?'block':'none'" data-html="@KEY_LNG.Next"></span>
					</a>
					<?rh-msp-bs-next-end ?>
				</div>
				<!-- Extra search field for desktop -->

				<div class="searchbar-extra" data-if="KEY_SCREEN_DESKTOP" data-mouseover="@mousein_searchbox(true)" data-mouseout="@mousein_searchbox(false)" data-controller="SearchController:sc">
					<input id="inp" class="wSearchField" type="text" data-class="searchpage-mode: @active_content == 'search'" data-attr="title, placeholder: @KEY_LNG.Search"
			data-focus="@focusin_searchbox(true)" data-blur="$sc.handleFocusOut('focusin_searchbox')|timeout:200" data-value="KEY_SEARCH_TERM" data-keyup="$mc.newSearch(node.value, event.keyCode),$sc.handleKey(event)|debounce:150"/>
					<a class="wSearchLink" data-click="@EVT_SEARCH_TERM(true)" data-attr="href: '#'; title:@KEY_LNG.Search; aria-label:@KEY_LNG.Search">&nbsp;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Search"></span>
					</a>
					<div data-if="@focusin_searchbox && @SEARCH_RESULTS_KEY!== undefined &&  (@SEARCH_RESULTS_KEY).length>0" class="search-list" >
						<table class="table">
							<tr data-repeat="search_results" data-class="search-suggestion:true; search-selected:@selected===#{@index}" data-click="$sc.handleClick(#{@index})">
								<td class="search-text-column">
									<div class="search-text" data-itext="item.term"></div>
								</td>
								<td>
									<div class="search-delete" data-if="$sc.canDelete(#{@index})" data-click="$sc.handleDelete(#{@index})"></div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="topic-state" data-class="loading: EVT_TOPIC_LOADING" data-if="EVT_TOPIC_LOADING" data-attr="aria-hidden: !@EVT_TOPIC_LOADING" role="presentation"></div>
			<iframe class="topic" data-attr="title:@KEY_LNG.Contents; aria-label:@KEY_LNG.Contents"  name="rh_default_topic_frame_name" allowfullscreen="true"></iframe>
			<a class="to_top" data-trigger="EVT_SCROLL_TO_TOP" data-attr="title:@KEY_LNG.ToTopTip">&#160;<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.ToTopTip"></span>
			</a>
		</div>
		<!-- Social media buttons -->
		<div class="social_buttons" data-if="@KEY_FEATURE.social === true && (@KEY_SCREEN_PHONE == false || (@KEY_SCREEN_PHONE == true && $mc.isSidebarTab(@KEY_ACTIVE_TAB) != true && $mc.isSearchMode(@KEY_ACTIVE_TAB, @active_content) != true && @KEY_ACTIVE_TAB != 'filter'))" data-attr="aria-hidden: !@KEY_FEATURE.social" data-class="opened: @.l.social_opened === true;" role="dialog">
			<a class="social_buttons_controller" href="javascript:rh.model.publish('l.social_opened', rh.model.get('l.social_opened') === true ? false : true)" aria-label="">
				<span class="rh-hide" aria-hidden="true" data-html="@KEY_LNG.Back"></span>
			</a>
			<div class="fb-button" data-if="KEY_FEATURE.facebook">
				<iframe id="bf-iframe" style="border:none; overflow:hidden;"></iframe>
			</div>
			<div class="twitter-button" id="twitter-holder" data-if="KEY_FEATURE.twitter"></div>
		</div>
		<!-- Scripts -->
		<script src="template/<%= layout.name %>/usersettings.js" type="text/javascript"></script>
		<script>
		if(useTwitter === true) {
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		}
		</script>
	</body>
</html>
